{% extends "askwe.html" %}

{% block title %} Questions on {{ day }} {% endblock %}

{% block body %}
  <div class="col-sm-12" >
    <h6 class='' > {{ day }}</h6>
    <ul >
      {% for question in object_list %}
        <li >
          {{ question.votes }}
          <a class='' href="{{ question.get_absolute_url }}" >
            {{ question }}
          </a>
          
        </li >
      {% empty %}
        <p class ='alert alert-info' >Hmm... Weird! No questions! </p>
      {% endfor %}
    </ul >
    <div>
      {% if previous_day %}
        <a class ='text-secondary float-left' href="{% url "daily_questions" year=previous_day.year month=previous_day.month day=previous_day.day %}" >
           << Yesterday
        </a >
      {% endif %}
      {% if next_day %}
        <a class='text-secondary float-right' href="{% url "daily_questions" year=next_day.year month=next_day.month day=next_day.day %}" >
          Tomorrow >>
        </a >
      {% endif %}
    </div >
  </div >
{% endblock %}